/*PRINT CSS*/
  * { background: transparent; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }

#search { display:none !important; }
#map-canvas { display:none !important; }
#footer-container {display:none !important;}
#place-controls-container {display:none !important;}
#property-info .propertyContent .propertyDescriptionContainer { max-height:auto !important; }
#comparison-add {display:none !important;}
#property-list-container {display:none !important;}
#testimonial-list-container {display:none !important;}
#property-info-container .propertySidebar #close {display:none !important;}
.propertySidebarHeader {display:none !important;}
.propertySidebarOptions {display:none !important;}
.propertyDistances {display:none !important;}

body { background: none !important; }
div, p, ul, table, tbody { overflow: visible !important; background: none !important; }
li, a { background: none !important; }

#city-select-container { display:none !important; }
#mount { position: static !important; width: 1022px !important; padding-left: 20px !important; margin-left: 0px; }
#search-container { position: static !important; height: auto !important; margin: 0px !important; }
#property-info .propertySidebar .propertySidebarGallery { display: none !important; }
#property-info-container { position: static !important; margin-left: 0px !important; width: 1022px !important; }
#property-info .propertyContent { padding: 0px !important; width: 1022px !important; }
#property-info .propertyContent .propertyDescriptionContainer .propertyDescription { padding: 0px !important; overflow: visible !important; max-height: 1000px !important; }
#property-info .propertyContent ul.propertyDistances li.propertyDistancesTitle { backgroun: none !important; }
#property-info .propertyContent ul.propertyDistances li a { padding-top: 0pc !important; margin-top: 5px !important; }

.print-only { display:block !important; visibility: visible !important;}
.clear { clear: both !important; }
.propertySidebar { display: none !important; }
.propertyContent { padding-top: 0px !important; }
.propertyContent #propertyInfoPrintPanel { margin-top: 20px !important; }
.propertyContent #propertyInfoPrintDetailPanel { float: left !important; width: 560px !important; }
.propertyContent #propretyInfoPrintMainImage { padding-left: 0px !important; float: left !important; }
.propertyContent #propertyInfoPrintDetail { float: left !important; margin-left: 10px !important; }
.propertyContent #propertyInfoNewOrLeased { display: block !important; }
.propertyContent #propertyAmentityContainer { display: block !important; }
.propertyContent #descriptionTabs { display: none !important; }
.propertyContent #DetailedDescriptionAdjusted { display: block !important; border: none !important; }
.propertyContent .features-included { display: block !important; border: none !important; }
.propertyContent .features-included ul { padding-top: 0px !important; }
.propertyContent .description-sub-heading { font-weight: bold !important; }
.propertyContent #propertyAgent a[href]:after { content: ""; }
.propertyContent #propertThumbnailPanel { display: block !important; float: left !important; margin-top: 15px !important; margin-left: 20px !important; width:400px !important; }
.propertyContent #propertThumbnailPanel #propertThumbnails li { margin-top: 10px !important; }
.propertyContent #propertyInfoAvailableOptionPanel { display: block !important; }
.propertyContent #propertyInfoAvailableOptionPanel ul li, #property-info .propertyContent .propertyDescriptionContainer ul li { background:none !important; padding: 0px !important; list-style-type:square !important; margin-left: 20px !important; }
.propertyContent #propertyInfoPrintFooter  { clear: both !important; display: block !important; margin-top: 10px !important; }
.propertyContent #propertyInfoPrintGoogleMap  { margin-top: 10px !important; }
.propertyContent ul.propertyDistances { display: block !important; border-top: none !important; border-bottom: none !important; }
.propertyContent ul.propertyDistances li { border-top:1px solid #D9D9D9 !important; border-bottom:1px solid #d1d1d1 !important; }
.propertyContent ul.propertyDistances li.propertyDistanceCustomRoute { display: none !important; }
.propertyContent ul.propertyDistances li#custom-route-input { display: none !important; }
.propertyContent ul.propertyDistancesNoRoute { display: none !important; }

#cboxOverlay { display: none !important; }

@-moz-document url-prefix() {
  .propertyContent #propertyDistances { width: 301px !important; }
}
